<div>
<div>
  <div>
    <%= @questions %> <br>
    <p>- You</p>
  </div>

  <div>
  <%= @answers %> <br>
  <p>-Your Coach</p>
  </div>

  <%= link_to "Ask another question", root_path %>
</div>
<div>



<%= @questions %> <br>
<%= @answers %> <br>
